.avatar {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  height: 210px;
}

.avatar img {
  position: absolute;
  width: auto;
  height: 210px;
}

.list-part {
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  padding:  0 20px;

}

.list-part img {
  height: 5rem;
  padding:  10px ;
}

.list-part img {
  cursor: pointer;
}